@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500italic);
/* line 5, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../.rvm/gems/ruby-2.1.2@global/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 60, ../sass/style.scss */
.container:after, .mobile-menu:after {
  content: "";
  display: table;
  clear: both;
}

/* line 69, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 74, ../sass/style.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 78, ../sass/style.scss */
body {
  background-color: #efefef;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

/* line 86, ../sass/style.scss */
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

/* line 91, ../sass/style.scss */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 96, ../sass/style.scss */
p {
  font-weight: normal;
}

/* line 100, ../sass/style.scss */
a {
  text-decoration: none;
  font-weight: bold;
}

/* line 105, ../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 109, ../sass/style.scss */
em {
  font-style: italic;
  font-weight: bold;
}

/* line 114, ../sass/style.scss */
hr {
  display: block;
  border: 1px solid #efb111;
  margin: 20px auto;
  width: 15%;
}

/* line 121, ../sass/style.scss */
.animate {
  -webkit-transition: -webkit-transform 0.5s ease, color 0.5s ease, background-color 0.5s ease, width 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease, color 0.5s ease, background-color 0.5s ease, width 0.5s ease;
  -o-transition: -o-transform 0.5s ease, color 0.5s ease, background-color 0.5s ease, width 0.5s ease;
  transition: transform 0.5s ease, color 0.5s ease, background-color 0.5s ease, width 0.5s ease;
}

/* line 128, ../sass/style.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.1.2@global/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 136, ../sass/style.scss */
.nav {
  position: fixed;
  padding: 10px;
}

/* line 143, ../sass/style.scss */
.main-nav li {
  list-style: none;
}
/* line 146, ../sass/style.scss */
.main-nav li a {
  display: block;
  width: 100%;
}

/* line 153, ../sass/style.scss */
.mobile-menu {
  width: 60px;
  height: 32px;
  position: fixed;
  margin: 20px;
  padding: 5px;
  right: 0;
}

/* line 163, ../sass/style.scss */
.mobile-icon {
  display: block;
  padding: 2px 0;
  border-radius: 10px;
  float: right;
  background-color: #fff;
}

/* line 171, ../sass/style.scss */
.mobile-icon-third {
  margin: 2px 0 0 0;
  width: 28px;
}

/* line 176, ../sass/style.scss */
.mobile-icon-second {
  margin: 2px 0 2px 0;
  width: 38px;
}

/* line 181, ../sass/style.scss */
.mobile-icon-first {
  margin: 0 0 2px 0;
  width: 48px;
}

/* line 186, ../sass/style.scss */
.block {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 192, ../sass/style.scss */
.node {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 199, ../sass/style.scss */
.node-worldrelief {
  background: url(../images/worldrelief.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
}

/* line 205, ../sass/style.scss */
.logo {
  background: url(../images/logo.svg) no-repeat center center;
  background-size: cover;
  margin: 0 auto;
}

/* line 212, ../sass/style.scss */
.node-vulnerable {
  background-color: #fff;
  color: #131313;
}

/* line 218, ../sass/style.scss */
.node-help {
  background-color: #7ac143;
  color: #fff;
}

/* line 223, ../sass/style.scss */
.node-help-categories {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 229, ../sass/style.scss */
.node-help-content {
  line-height: 1;
}

/* line 234, ../sass/style.scss */
.node-stand {
  background-color: #fff;
  color: #131313;
}

/* line 240, ../sass/style.scss */
.node-join {
  background-color: #515151;
  color: #fff;
}

/* line 245, ../sass/style.scss */
.join-image {
  background: #000 url(../images/join.jpg) no-repeat center center;
  background-size: cover;
}

/* line 251, ../sass/style.scss */
.node-pray {
  background-color: #2ba9e9;
  color: #fff;
}

/* line 256, ../sass/style.scss */
.pray-image {
  background: #000 url(../images/pray.jpg) no-repeat center center;
  background-size: cover;
}

/* line 262, ../sass/style.scss */
.node-give {
  background-color: #efb111;
  color: #fff;
}

/* line 267, ../sass/style.scss */
.give-image {
  background: #000 url(../images/give.jpg) no-repeat center center;
  background-size: cover;
}

/* line 273, ../sass/style.scss */
.node-advocate {
  background-color: #7ac143;
  color: #fff;
}

/* line 278, ../sass/style.scss */
.advocate-image {
  background: #000 url(../images/advocate.jpg) no-repeat center center;
  background-size: cover;
}

/* line 284, ../sass/style.scss */
.node-signup {
  background-color: #fff;
  color: #131313;
}

/* line 289, ../sass/style.scss */
#sub-form {
  width: 85%;
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* line 296, ../sass/style.scss */
#email {
  display: block;
  background-color: #efefef;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0;
  padding: 20px;
  color: #131313;
  width: 66%;
  float: left;
}

/* line 309, ../sass/style.scss */
#submit {
  display: block;
  background-color: #2ba9e9;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 33%;
  height: 53px;
  float: left;
}

/* line 323, ../sass/style.scss */
.footer {
  background-color: #efefef;
  color: #323232;
  width: 100%;
}

/* line 331, ../sass/style.scss */
.social ul {
  width: 100%;
}
/* line 334, ../sass/style.scss */
.social ul li {
  width: 24.5%;
  margin: 0;
  list-style: none;
  float: left;
}
/* line 340, ../sass/style.scss */
.social ul li a {
  display: block;
}

/* line 347, ../sass/style.scss */
.social li a[href*="facebook.com"] {
  background: url(../images/facebook.svg) no-repeat center center;
  background-size: cover;
}

/* line 352, ../sass/style.scss */
.social li a[href*="twitter.com"] {
  background: url(../images/twitter.svg) no-repeat center center;
  background-size: cover;
}

/* line 357, ../sass/style.scss */
.social li a[href*="instagram.com"] {
  background: url(../images/instagram.svg) no-repeat center center;
  background-size: cover;
}

/* line 362, ../sass/style.scss */
.social li a[href*="linkedin.com"] {
  background: url(../images/linkedin.svg) no-repeat center center;
  background-size: cover;
}

/* line 367, ../sass/style.scss */
.copyright {
  width: 100%;
}

/* line 371, ../sass/style.scss */
.button {
  display: block;
  padding: 13px 0;
  border-radius: 36px;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

/* line 381, ../sass/style.scss */
.reference {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

/* line 387, ../sass/style.scss */
.fill-blue {
  background-color: #2ba9e9;
  color: #fff;
}
/* line 391, ../sass/style.scss */
.fill-blue:hover, .fill-blue:active {
  background-color: #a4ffff;
}

/* line 396, ../sass/style.scss */
.nofill-yellow {
  border: 2px solid #efb111;
  color: #131313;
}
/* line 400, ../sass/style.scss */
.nofill-yellow:hover, .nofill-yellow:active {
  background-color: #efb111;
}

/* line 405, ../sass/style.scss */
.fill-white {
  background-color: #fff;
  color: #131313;
}
/* line 409, ../sass/style.scss */
.fill-white:hover, .fill-white:active {
  background-color: #caff8f;
}

/* line 414, ../sass/style.scss */
.nofill-light-blue {
  border: 2px solid #a4ffff;
  color: #fff;
}
/* line 418, ../sass/style.scss */
.nofill-light-blue:hover, .nofill-light-blue:active {
  background-color: #a4ffff;
}

/* line 423, ../sass/style.scss */
.nofill-light-yellow {
  border: 2px solid #fff260;
  color: #fff;
}
/* line 427, ../sass/style.scss */
.nofill-light-yellow:hover, .nofill-light-yellow:active {
  background-color: #fff260;
}

/* line 432, ../sass/style.scss */
.nofill-light-green {
  border: 2px solid #caff8f;
  color: #fff;
}
/* line 436, ../sass/style.scss */
.nofill-light-green:hover, .nofill-light-green:active {
  background-color: #caff8f;
}

/* line 447, ../sass/style.scss */
.mobile-menu {
  display: block;
}

/* line 451, ../sass/style.scss */
.nav {
  right: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 460, ../sass/style.scss */
.main-nav {
  display: block;
  background-color: #efefef;
  padding: 20px;
  width: 200px;
}
/* line 466, ../sass/style.scss */
.main-nav li {
  width: 100%;
}
/* line 469, ../sass/style.scss */
.main-nav li a {
  width: 100%;
  padding: 15px;
  color: #131313;
}

/* line 477, ../sass/style.scss */
.node {
  padding: 50px 20px;
}

/* line 481, ../sass/style.scss */
.logo {
  margin-top: 35px;
  margin-bottom: 20px;
  width: 160px;
  height: 70px;
}

/* line 489, ../sass/style.scss */
.node-help {
  padding: 50px 20px;
  margin-bottom: 0;
}
/* line 493, ../sass/style.scss */
.node-help h2, .node-help p {
  padding: 0;
}

/* line 498, ../sass/style.scss */
.node-help-categories {
  position: static;
  width: 100%;
  background: transparent;
  margin: 0;
}

/* line 505, ../sass/style.scss */
.node-help-section {
  margin: 10px 0px;
  width: 100%;
  float: none;
}

/* line 511, ../sass/style.scss */
.health-section {
  background: transparent;
}

/* line 515, ../sass/style.scss */
.disaster-section {
  background: transparent;
}

/* line 519, ../sass/style.scss */
.refugee-section {
  background: transparent;
}

/* line 523, ../sass/style.scss */
.economic-section {
  background: transparent;
}

/* line 527, ../sass/style.scss */
.peace-section {
  background: transparent;
}

/* line 531, ../sass/style.scss */
.node-help-content {
  width: 35%;
  margin: 0 auto;
}

/* line 536, ../sass/style.scss */
.node-help-icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

/* line 542, ../sass/style.scss */
.health-icon {
  background: url(../images/cart.svg) no-repeat center center;
  background-size: cover;
}

/* line 547, ../sass/style.scss */
.disaster-icon {
  background: url(../images/cart.svg) no-repeat center center;
  background-size: cover;
}

/* line 552, ../sass/style.scss */
.refugee-icon {
  background: url(../images/cart.svg) no-repeat center center;
  background-size: cover;
}

/* line 557, ../sass/style.scss */
.economic-icon {
  background: url(../images/cart.svg) no-repeat center center;
  background-size: cover;
}

/* line 562, ../sass/style.scss */
.peace-icon {
  background: url(../images/cart.svg) no-repeat center center;
  background-size: cover;
}

/* line 568, ../sass/style.scss */
.node-stand {
  padding: 50px 20px;
}

/* line 573, ../sass/style.scss */
.node-join, .node-pray, .node-give, .node-advocate {
  padding: 0;
  height: auto;
}

/* line 578, ../sass/style.scss */
.half-image-left, .half-image-right {
  height: 175px;
  width: 100%;
  margin: 0;
  float: none;
}

/* line 585, ../sass/style.scss */
.half-content-left, .half-content-right {
  width: 100%;
  margin: 0;
  padding: 30px 20px;
  float: none;
}

/* line 592, ../sass/style.scss */
.footer {
  padding: 50px 15px;
}

/* line 596, ../sass/style.scss */
.social {
  width: 40%;
  margin: 0 auto 30px auto;
}
/* line 604, ../sass/style.scss */
.social ul li a {
  height: 24px;
  width: 24px;
}

/* line 612, ../sass/style.scss */
.button {
  width: 180px;
}

@media (min-width: 676px) {
  /* line 622, ../sass/style.scss */
  .nav {
    width: 100%;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 631, ../sass/style.scss */
  .mobile-menu {
    display: none;
  }

  /* line 635, ../sass/style.scss */
  .main-nav {
    background-color: transparent;
    padding: 0;
    width: 80%;
    float: right;
  }
  /* line 641, ../sass/style.scss */
  .main-nav li {
    width: 14%;
    float: left;
  }
  /* line 645, ../sass/style.scss */
  .main-nav li a {
    padding: 8px 0;
    color: #fff;
  }

  /* line 652, ../sass/style.scss */
  .node {
    padding: 80px 80px;
  }

  /* line 656, ../sass/style.scss */
  .logo {
    margin-top: 70px;
    margin-bottom: 60px;
    width: 370px;
    height: 160px;
  }

  /* line 664, ../sass/style.scss */
  .node-help {
    padding: 80px 0 0 0;
    margin-bottom: -210px;
  }
  /* line 668, ../sass/style.scss */
  .node-help h2, .node-help p {
    padding: 0 80px;
  }

  /* line 673, ../sass/style.scss */
  .node-help-categories {
    width: 100%;
    height: 420px;
    background: transparent;
    margin: 40px 0 0 0;
  }

  /* line 680, ../sass/style.scss */
  .node-help-section {
    margin: 0px 1%;
    width: 17.9%;
    height: 100%;
    float: left;
  }

  /* line 687, ../sass/style.scss */
  .health-section {
    background: #000 url(../images/health.jpg) no-repeat center center;
    background-size: cover;
  }

  /* line 692, ../sass/style.scss */
  .disaster-section {
    background: #000 url(../images/disaster.jpg) no-repeat center center;
    background-size: cover;
  }

  /* line 697, ../sass/style.scss */
  .refugee-section {
    background: #000 url(../images/refugee.jpg) no-repeat center center;
    background-size: cover;
  }

  /* line 702, ../sass/style.scss */
  .economic-section {
    background: #000 url(../images/economic.jpg) no-repeat center center;
    background-size: cover;
  }

  /* line 707, ../sass/style.scss */
  .peace-section {
    background: #000 url(../images/peace.jpg) no-repeat center center;
    background-size: cover;
  }

  /* line 712, ../sass/style.scss */
  .node-help-content {
    width: 130px;
    margin: 270px auto 0 auto;
  }
  /* line 716, ../sass/style.scss */
  .node-help-content p {
    padding: 15px 0;
  }

  /* line 721, ../sass/style.scss */
  .node-help-icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  /* line 727, ../sass/style.scss */
  .health-icon {
    background: #fff url(../images/health.svg) no-repeat center center;
    background-size: cover;
  }

  /* line 732, ../sass/style.scss */
  .disaster-icon {
    background: #fff url(../images/disaster.svg) no-repeat center center;
    background-size: cover;
  }

  /* line 737, ../sass/style.scss */
  .refugee-icon {
    background: #fff url(../images/refugee.svg) no-repeat center center;
    background-size: cover;
  }

  /* line 742, ../sass/style.scss */
  .economic-icon {
    background: #fff url(../images/economic.svg) no-repeat center center;
    background-size: cover;
  }

  /* line 747, ../sass/style.scss */
  .peace-icon {
    background: #fff url(../images/peace.svg) no-repeat center center;
    background-size: cover;
  }

  /* line 753, ../sass/style.scss */
  .node-stand {
    padding: 290px 80px 80px 80px;
  }

  /* line 758, ../sass/style.scss */
  .node-join, .node-pray, .node-give, .node-advocate {
    padding: 0;
    height: 380px;
  }

  /* line 763, ../sass/style.scss */
  .half-image-left {
    height: 100%;
    width: 50%;
    margin: 0;
    float: left;
  }

  /* line 770, ../sass/style.scss */
  .half-image-right {
    height: 100%;
    width: 50%;
    margin: 0;
    float: right;
  }

  /* line 777, ../sass/style.scss */
  .half-content-left {
    width: 50%;
    margin: 0;
    padding: 8% 6% 0 6%;
    float: left;
  }

  /* line 784, ../sass/style.scss */
  .half-content-right {
    width: 50%;
    margin: 0;
    padding: 6% 6% 0 6%;
    float: right;
  }

  /* line 791, ../sass/style.scss */
  .footer {
    padding: 80px 80px;
  }

  /* line 795, ../sass/style.scss */
  .social {
    width: 20%;
    margin: 0 auto 30px auto;
  }
  /* line 803, ../sass/style.scss */
  .social ul li a {
    height: 32px;
    width: 32px;
  }

  /* line 811, ../sass/style.scss */
  .button {
    width: 220px;
  }
}
