In template.php of your theme:

function YOURTHEME_process_page(&$variables) {
    $menu_tree = menu_tree_all_data('main-menu');
    $variables['main_menu'] = menu_tree_output($menu_tree);
}
In your template file (page.tpl.php)

print render($main_menu);



	<section class="block">

		<div class="wr-node node-worldrelief">

			<div class="logo"></div>
			<h1>Empowering the local church to serve the most vulnerable</h1>

			<a href="#" class="button animate fill-blue">HOW CAN I HELP?</a>
		</div>
	</section>

	<!-- END WORLD RELIEF SECTION -->

	<section class="block">

		<div class="wr-node node-vulnerable">
		
<h2>These are the vulnerable</h2>

<p>Children orphaned by disease, women widowed by conflicts, families devastated by natural disasters and refugees relocated to new countries. We believe the church - the most diverse social network on the planet - should be leveraging time, energy and resources to stand for the vulnerable in their time of need.</p>

<hr>

<p><strong><em>Love finds no joy in unrighteousness but rejoices in the truth. It bears all things, believes all things, hopes all things, endures all things.</em></strong></p>

<p class="reference">1 CORINTHIANS 13:6-7</p>

<a href="#" class="button animate nofill-yellow">ABOUT WORLD RELIEF</a>
		</div>
	</section>

	<!-- END VULNERABLE SECTION -->

	<section class="block">

		<div class="wr-node node-help">
		
			<h2>How we help the vulnerable</h2>

			<p>We work holistically with the local church to stand for the sick, the widow, the orphan, the alien, the displaced, the devastated, the marginalized, and the disenfranchised.</p>

			<div class="node-help-categories">

				<div class="node-help-section health-section">

					<div class="node-help-content">

						<div class="node-help-icon health-icon"></div>

						<strong>HEALTH AND CHILD DEVELOPMENT</strong>
					</div>
				</div>

				<div class="node-help-section disaster-section">

					<div class="node-help-content">

						<div class="node-help-icon disaster-icon"></div>

						<strong>DISASTER RESPONSE</strong>
					</div>
				</div>

				<div class="node-help-section refugee-section">

					<div class="node-help-content">

						<div class="node-help-icon refugee-icon"></div>

						<strong>REFUGEE AND IMMIGRATION SERVICES</strong>
					</div>
				</div>

				<div class="node-help-section economic-section">

					<div class="node-help-content">

						<div class="node-help-icon economic-icon"></div>

						<strong>ECONOMIC DEVELOPMENT</strong>
					</div>
				</div>

				<div class="node-help-section peace-section">

					<div class="node-help-content">

						<div class="node-help-icon peace-icon"></div>

						<strong>PEACE BUILDING</strong>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- END HELP SECTION -->

	<section class="block">

		<div class="wr-node node-stand">
		
			<h2>Join the stand for the vulnerable</h2>

			<p>Whatever it takes us, we are faithful to our call.</p>

			<p>Join us and stand for the vulnerable.</p>
		</div>
	</section>

	<!-- END STAND SECTION -->

	<section class="block">

		<div class="wr-node node-join">

			<div class="half-image-left join-image"></div>

			<div class="half-content-right join-content">

				<h2>Join Us</h2>

				<p>We have many campaigns running that you can be involved in. We have many campaigns running that you can be involved in.</p>

				<a href="#" class="button animate fill-white">JOIN US</a>
			</div>
		</div>
	</section>

	<!-- END JOIN SECTION -->

	<section class="block">

		<div class="wr-node node-pray">

			<div class="half-image-right pray-image"></div>

			<div class="half-content-left pray-content">

				<h2>Pray</h2>

				<p>Prayer is key in what we do at World Relief. One of the most important and impactful ways you can support World Relief is through your prayers.</p>

				<a href="#" class="button animate nofill-light-blue">PRAY</a>
			</div>
		</div>
	</section>

	<!-- END PRAY SECTION -->

	<section class="block">

		<div class="wr-node node-give">

			<div class="half-image-left give-image"></div>

			<div class="half-content-right give-content">

				<h2>Give</h2>

				<p>Something powerful about generosity. Finance is a tool in the hand of the church to make a tangible difference in the lives of those around &amp; about us.</p>

				<a href="#" class="button animate nofill-light-yellow">GIVE</a>
			</div>
		</div>
	</section>

	<!-- END GIVE SECTION -->

	<section class="block">

		<div class="wr-node node-advocate">

			<div class="half-image-right advocate-image"></div>

			<div class="half-content-left advocate-content">

				<h2>Advocate</h2>

				<p>Prayer is key in what we do at World Relief. One of the most important and impactful ways you can support World Relief is through your prayers.</p>

				<a href="#" class="button animate nofill-light-green">ADVOCATE</a>
			</div>
		</div>
	</section>

	<!-- END ADVOCATE SECTION -->

	<section class="block">

		<div class="wr-node node-signup">

			<h2>Stay in contact</h2>

			<p>Sign up for the latest updates from the World Relief team</p>

			<form id="sub-form" action="/#sub-form" method="post">

				<input type="email" name="email" id="email" placeholder="Email Address"/>

				<input type="submit" id="submit" name="Submit" value="Submit"/>
			</form>
		</div>
	</section>

	<!-- END SIGNUP SECTION -->

	<div class="footer">

		<div class="social">

			<ul>

				<li>
					<a href="https://www.facebook.com"></a>
				</li>

				<li>
					<a href="https://www.twitter.com"></a>
				</li>

				<li>
					<a href="https://instagram.com"></a>
				</li>

				<li>
					<a href="https://www.linkedin.com"></a>
				</li>
			</ul>
		</div>

		<div class="copyright">

			<p>&copy; World Relief. All Rights Reserved.</p>

			<p>7 East Baltimore Street, Baltimore MD 21202 | 443.451.1900</p>
		</div>
	</div>